{{#if user}}

  <div class="container p-4">
    <p>Id: {{user.admin_id}}</p>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>
    <p>Password: {{user.password}}</p>
  </div>

{{/if}}