{{#if user}}

  <div class="container p-4">
    <p>ID: {{user.admin_id}}</p>
    <p>Usuario: {{user.username}}</p>
    <p>Correo Electrónico: {{user.email}}</p>
    <p>Contraseña: {{user.password}}</p>
  </div>

{{/if}}