<div class="card">
  <h2 class="card-title mx-auto mt-2">Nuevo Cliente</h2>
  <div class="card-body">
    <form action="/clients/add" method="POST">
      <div class="mb-3">
        <input
          type="text"
          name="username"
          class="form-control"
          placeholder="Nombre"
          autofocus
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          name="email"
          class="form-control"
          placeholder="Correo"
          autofocus
          required
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          name="password"
          class="form-control"
          placeholder="Contraseña"
          autofocus
          required
        />
      </div>
      <div class="mb-3">
        <select class="form-select" required name="plan" id="plan">
          <option value="basico">Básico</option>
          <option value="medio">Medio</option>
          <option value="premium">Premium</option>
        </select>
      </div>

      <div class="mb-3">
        <input
          type="text"
          name="type_accounts"
          class="form-control"
          value="1"
          hidden
          autofocus
          required
        />
      </div>
      <div class="mb-3 d-grid gap-2">
        <button class="btn btn-success btn-block">Agregar</button>
      </div>
    </form>
  </div>
</div>