<div class="container">

  <div class="card w-50 mx-auto my-5 p-5"><div class="card-body">
      <form action="/login" method="POST">
        <div class="mb-3 text-center">
          <img src="assets/img/logo.svg" alt="" />
          <hr>
          <h3>Login Admin</h3>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            aria-describedby="username"
          />

        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="/signup"><button type="button" class="btn btn-success">Register</button></a>
      </form>
    </div></div>

</div>